TailorTrack_System.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.ctut.edu.vn/material"
           xmlns:tns="http://www.ctut.edu.vn/material"
           xmlns="http://www.ctut.edu.vn/material"
           elementFormDefault="qualified">
  
  <!-- ==================== ROOT ==================== -->
  <xs:element name="TailorTrackSystem">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="KhachHangs">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="KhachHang" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ma_khach_hang" type="xs:string"/>
                    <xs:element name="ho_ten"          type="xs:string"/>
                    <xs:element name="email"           type="xs:string"/>
                    <xs:element name="so_dien_thoai"   type="xs:string"/>
                    <xs:element name="dia_chi"         type="xs:string"/>
                    <xs:element name="ngay_dang_ky"    type="xs:date"/>
                    <xs:element name="diem_tich_luy"   type="xs:integer"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="NhanViens">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="NhanVien" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ma_nhan_vien" type="xs:string"/>
                    <xs:element name="ho_ten"       type="xs:string"/>
                    <xs:element name="email"        type="xs:string"/>
                    <xs:element name="so_dien_thoai" type="xs:string"/>
                    <xs:element name="chuc_vu"      type="xs:string"/>
                    <xs:element name="luong"        type="xs:decimal"/>
                    <xs:element name="ngay_tuyen"   type="xs:date"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="DonHangs">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DonHang" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ma_don_hang"   type="xs:string"/>
                    <xs:element name="ngay_dat"      type="xs:date"/>
                    <xs:element name="tong_tien"     type="xs:decimal"/>
                    <xs:element name="trang_thai"    type="xs:string"/>
                    <xs:element name="ma_khach_hang" type="xs:string"/>
                    <xs:element name="mo_ta_yeu_cau" type="xs:string" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="DonHangNhanViens">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DonHangNhanVien" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ma_don_hang_nhan_vien" type="xs:string"/>
                    <xs:element name="ma_don_hang"          type="xs:string"/>
                    <xs:element name="ma_nhan_vien"         type="xs:string"/>
                    <xs:element name="vai_tro"              type="xs:string"/>
                    <xs:element name="ghi_chu"              type="xs:string" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="ChiTietDonHangs">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ChiTietDonHang" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ma_chi_tiet_don_hang" type="xs:string"/>
                    <xs:element name="so_luong"             type="xs:integer"/>
                    <xs:element name="gia_don_vi"           type="xs:decimal"/>
                    <xs:element name="ma_don_hang"          type="xs:string"/>
                    <xs:element name="ma_san_pham"          type="xs:string"/>
                    <xs:element name="loai_san_pham"        type="xs:string" minOccurs="0"/>
                    <xs:element name="trang_thai"           type="xs:string" minOccurs="0"/>
                    <xs:element name="mo_ta"                type="xs:string" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="SanPhams">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SanPham" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ma_san_pham"   type="xs:string"/>
                    <xs:element name="ten_san_pham"  type="xs:string"/>
                    <xs:element name="mo_ta"         type="xs:string" minOccurs="0"/>
                    <xs:element name="kich_co"       type="xs:string" minOccurs="0"/>
                    <xs:element name="mau_sac"       type="xs:string" minOccurs="0"/>
                    <xs:element name="gia"           type="xs:decimal"/>
                    <xs:element name="so_luong_ton"  type="xs:integer"/>
                    <xs:element name="tu_san_xuat"   type="xs:boolean"/>
                    <xs:element name="trang_thai"    type="xs:string" minOccurs="0"/>
                    <xs:element name="ma_thuong_hieu" type="xs:string" minOccurs="0"/>
                    <xs:element name="ma_danh_muc"   type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="TonKhos">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TonKho" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ma_ton_kho"    type="xs:string"/>
                    <xs:element name="so_luong_ton"  type="xs:integer"/>
                    <xs:element name="ngay_cap_nhat" type="xs:date"/>
                    <xs:element name="ma_san_pham"   type="xs:string"/>
                    <xs:element name="ma_nha_cung_cap" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="NhaCungCaps">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="NhaCungCap" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ma_nha_cung_cap"  type="xs:string"/>
                    <xs:element name="ten_nha_cung_cap" type="xs:string"/>
                    <xs:element name="nguoi_lien_he"    type="xs:string" minOccurs="0"/>
                    <xs:element name="email"            type="xs:string"/>
                    <xs:element name="dien_thoai"       type="xs:string"/>
                    <xs:element name="dia_chi"          type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="DanhMucs">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DanhMuc" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ma_danh_muc"  type="xs:string"/>
                    <xs:element name="ten_danh_muc" type="xs:string"/>
                    <xs:element name="mo_ta"        type="xs:string" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="ThanhToans">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ThanhToan" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ma_thanh_toan"   type="xs:string"/>
                    <xs:element name="ngay_thanh_toan" type="xs:date"/>
                    <xs:element name="so_tien"         type="xs:decimal"/>
                    <xs:element name="phuong_thuc"     type="xs:string"/>
                    <xs:element name="ma_don_hang"     type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="NguyenLieus">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="NguyenLieu" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ma_nguyen_lieu" type="xs:string"/>
                    <xs:element name="ten_nguyen_lieu" type="xs:string"/>
                    <xs:element name="loai"            type="xs:string" minOccurs="0"/>
                    <xs:element name="so_luong_ton"    type="xs:decimal"/>
                    <xs:element name="don_vi"          type="xs:string"/>
                    <xs:element name="gia"             type="xs:decimal"/>
                    <xs:element name="ma_nha_cung_cap" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="SanPhamNguyenLieus">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SanPhamNguyenLieu" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ma_san_pham_nguyen_lieu" type="xs:string"/>
                    <xs:element name="ma_san_pham"            type="xs:string"/>
                    <xs:element name="ma_nguyen_lieu"         type="xs:string"/>
                    <xs:element name="so_luong"               type="xs:decimal"/>
                    <xs:element name="don_vi"                 type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>

    <!-- ===================== KEYS ===================== -->
    <!-- Lưu ý: dùng prefix tns: trong XPath để tham chiếu đúng namespace -->
    <xs:key name="PK_KhachHang">
      <xs:selector xpath="tns:KhachHangs/tns:KhachHang"/>
      <xs:field    xpath="tns:ma_khach_hang"/>
    </xs:key>

    <xs:key name="PK_NhanVien">
      <xs:selector xpath="tns:NhanViens/tns:NhanVien"/>
      <xs:field    xpath="tns:ma_nhan_vien"/>
    </xs:key>

    <xs:key name="PK_DonHang">
      <xs:selector xpath="tns:DonHangs/tns:DonHang"/>
      <xs:field    xpath="tns:ma_don_hang"/>
    </xs:key>

    <xs:key name="PK_SanPham">
      <xs:selector xpath="tns:SanPhams/tns:SanPham"/>
      <xs:field    xpath="tns:ma_san_pham"/>
    </xs:key>

    <xs:key name="PK_NhaCungCap">
      <xs:selector xpath="tns:NhaCungCaps/tns:NhaCungCap"/>
      <xs:field    xpath="tns:ma_nha_cung_cap"/>
    </xs:key>

    <xs:key name="PK_DanhMuc">
      <xs:selector xpath="tns:DanhMucs/tns:DanhMuc"/>
      <xs:field    xpath="tns:ma_danh_muc"/>
    </xs:key>

    <xs:key name="PK_ThanhToan">
      <xs:selector xpath="tns:ThanhToans/tns:ThanhToan"/>
      <xs:field    xpath="tns:ma_thanh_toan"/>
    </xs:key>

    <xs:key name="PK_NguyenLieu">
      <xs:selector xpath="tns:NguyenLieus/tns:NguyenLieu"/>
      <xs:field    xpath="tns:ma_nguyen_lieu"/>
    </xs:key>

    <xs:key name="PK_TonKho">
      <xs:selector xpath="tns:TonKhos/tns:TonKho"/>
      <xs:field    xpath="tns:ma_ton_kho"/>
    </xs:key>

    <xs:key name="PK_DHNV">
      <xs:selector xpath="tns:DonHangNhanViens/tns:DonHangNhanVien"/>
      <xs:field    xpath="tns:ma_don_hang_nhan_vien"/>
    </xs:key>

    <xs:key name="PK_CT">
      <xs:selector xpath="tns:ChiTietDonHangs/tns:ChiTietDonHang"/>
      <xs:field    xpath="tns:ma_chi_tiet_don_hang"/>
    </xs:key>

    <xs:key name="PK_SPNL">
      <xs:selector xpath="tns:SanPhamNguyenLieus/tns:SanPhamNguyenLieu"/>
      <xs:field    xpath="tns:ma_san_pham_nguyen_lieu"/>
    </xs:key>

    <!-- ===================== KEYREFs ===================== -->
    <xs:keyref name="FK_DonHang_KhachHang" refer="tns:PK_KhachHang">
      <xs:selector xpath="tns:DonHangs/tns:DonHang"/>
      <xs:field    xpath="tns:ma_khach_hang"/>
    </xs:keyref>

    <xs:keyref name="FK_DHNV_DonHang" refer="tns:PK_DonHang">
      <xs:selector xpath="tns:DonHangNhanViens/tns:DonHangNhanVien"/>
      <xs:field    xpath="tns:ma_don_hang"/>
    </xs:keyref>

    <xs:keyref name="FK_DHNV_NhanVien" refer="tns:PK_NhanVien">
      <xs:selector xpath="tns:DonHangNhanViens/tns:DonHangNhanVien"/>
      <xs:field    xpath="tns:ma_nhan_vien"/>
    </xs:keyref>

    <xs:keyref name="FK_CT_DonHang" refer="tns:PK_DonHang">
      <xs:selector xpath="tns:ChiTietDonHangs/tns:ChiTietDonHang"/>
      <xs:field    xpath="tns:ma_don_hang"/>
    </xs:keyref>

    <xs:keyref name="FK_CT_SanPham" refer="tns:PK_SanPham">
      <xs:selector xpath="tns:ChiTietDonHangs/tns:ChiTietDonHang"/>
      <xs:field    xpath="tns:ma_san_pham"/>
    </xs:keyref>

    <xs:keyref name="FK_SanPham_DanhMuc" refer="tns:PK_DanhMuc">
      <xs:selector xpath="tns:SanPhams/tns:SanPham"/>
      <xs:field    xpath="tns:ma_danh_muc"/>
    </xs:keyref>

    <xs:keyref name="FK_TonKho_SanPham" refer="tns:PK_SanPham">
      <xs:selector xpath="tns:TonKhos/tns:TonKho"/>
      <xs:field    xpath="tns:ma_san_pham"/>
    </xs:keyref>

    <xs:keyref name="FK_TonKho_NhaCungCap" refer="tns:PK_NhaCungCap">
      <xs:selector xpath="tns:TonKhos/tns:TonKho"/>
      <xs:field    xpath="tns:ma_nha_cung_cap"/>
    </xs:keyref>

    <xs:keyref name="FK_ThanhToan_DonHang" refer="tns:PK_DonHang">
      <xs:selector xpath="tns:ThanhToans/tns:ThanhToan"/>
      <xs:field    xpath="tns:ma_don_hang"/>
    </xs:keyref>

    <xs:keyref name="FK_NguyenLieu_NhaCungCap" refer="tns:PK_NhaCungCap">
      <xs:selector xpath="tns:NguyenLieus/tns:NguyenLieu"/>
      <xs:field    xpath="tns:ma_nha_cung_cap"/>
    </xs:keyref>

    <xs:keyref name="FK_SPNL_SanPham" refer="tns:PK_SanPham">
      <xs:selector xpath="tns:SanPhamNguyenLieus/tns:SanPhamNguyenLieu"/>
      <xs:field    xpath="tns:ma_san_pham"/>
    </xs:keyref>

    <xs:keyref name="FK_SPNL_NguyenLieu" refer="tns:PK_NguyenLieu">
      <xs:selector xpath="tns:SanPhamNguyenLieus/tns:SanPhamNguyenLieu"/>
      <xs:field    xpath="tns:ma_nguyen_lieu"/>
    </xs:keyref>

  </xs:element>
</xs:schema>
