TailorTrack_System.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.ctut.edu.vn/material"
           xmlns:tns="http://www.ctut.edu.vn/material"
           xmlns="http://www.ctut.edu.vn/material"
           elementFormDefault="qualified">

  <!-- Các kiểu chi tiết -->
  <xs:simpleType name="HoTenType">
    <xs:restriction base="xs:string">
      <xs:minLength value="2"/>
      <xs:maxLength value="100"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TenType">
    <xs:restriction base="xs:string">
      <xs:minLength value="2"/>
      <xs:maxLength value="200"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="EmailType">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PhoneType">
    <xs:restriction base="xs:string">
      <xs:pattern value="0\d{9,10}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="DiemTichLuyType">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="TienType">
    <xs:restriction base="xs:decimal">
      <xs:minInclusive value="0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="DiaChiType">
    <xs:restriction base="xs:string">
      <xs:minLength value="5"/>
      <xs:maxLength value="200"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="SoLuongType">
    <xs:restriction base="xs:float">
      <xs:minInclusive value="0.0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="DonViTinhType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="mét"/>
      <xs:enumeration value="cuộn"/>
      <xs:enumeration value="kg"/>
      <xs:enumeration value="cái"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="MaKhachHangType">
    <xs:restriction base="xs:string">
      <xs:pattern value="KH[0-9]{3}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="MaNhanVienType">
    <xs:restriction base="xs:string">
      <xs:pattern value="NV[0-9]{3}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="MaDonHangType">
    <xs:restriction base="xs:string">
      <xs:pattern value="DH[0-9]{3}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="MaDonHangNhanVienType">
    <xs:restriction base="xs:string">
      <xs:pattern value="DHNV[0-9]{3}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="MaChiTietDonHangType">
    <xs:restriction base="xs:string">
      <xs:pattern value="CT[0-9]{3}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="MaSanPhamType">
    <xs:restriction base="xs:string">
      <xs:pattern value="SP[0-9]{3}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="MaThuongHieuType">
    <xs:restriction base="xs:string">
      <xs:pattern value="BR[0-9]{3}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="MaDanhMucType">
    <xs:restriction base="xs:string">
      <xs:pattern value="DM[0-9]{3}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="MaTonKhoType">
    <xs:restriction base="xs:string">
      <xs:pattern value="TK[0-9]{3}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="MaNhaCungCapType">
    <xs:restriction base="xs:string">
      <xs:pattern value="NCC[0-9]{3}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="MaThanhToanType">
    <xs:restriction base="xs:string">
      <xs:pattern value="TT[0-9]{3}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="MaNguyenLieuType">
    <xs:restriction base="xs:string">
      <xs:pattern value="NL[0-9]{3}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="MaSanPhamNguyenLieuType">
    <xs:restriction base="xs:string">
      <xs:pattern value="SPNL[0-9]{3}"/>
    </xs:restriction>
  </xs:simpleType>
  
          
  <!-- ==================== ROOT ==================== -->
  <xs:element name="TailorTrackSystem">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="KhachHangs">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="KhachHang" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ma_khach_hang" type="tns:MaKhachHangType"/>
                    <xs:element name="ho_ten"          type="tns:HoTenType"/>
                    <xs:element name="email" type="tns:EmailType" />
                    <xs:element name="so_dien_thoai" type="tns:PhoneType"/>
                    <xs:element name="dia_chi"         type="tns:DiaChiType"/>
                    <xs:element name="ngay_dang_ky"    type="xs:date"/>
                    <xs:element name="diem_tich_luy" type="tns:DiemTichLuyType" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="NhanViens">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="NhanVien" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ma_nhan_vien" type="tns:MaNhanVienType"/>
                    <xs:element name="ho_ten"       type="tns:HoTenType"/>
                    <xs:element name="email" type="tns:EmailType"/>
                    <xs:element name="so_dien_thoai" type="tns:PhoneType"/>
                    <xs:element name="chuc_vu">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="Quản lý"/>
                          <xs:enumeration value="Tư vấn viên"/>
                          <xs:enumeration value="Quản lý kho"/>
                          <xs:enumeration value="Thu ngân"/>
                          <xs:enumeration value="Chăm sóc khách hàng"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="luong"        type="tns:TienType"/>
                    <xs:element name="ngay_tuyen"   type="xs:date"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="DonHangs">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DonHang" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ma_don_hang"   type="tns:MaDonHangType"/>
                    <xs:element name="ngay_dat"      type="xs:date"/>
                    <xs:element name="tong_tien" type="tns:TienType" />
                    <xs:element name="trang_thai">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="pending"/>
                          <xs:enumeration value="paid"/>
                          <xs:enumeration value="shipped"/>
                          <xs:enumeration value="delivered"/>
                          <xs:enumeration value="canceled"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="ma_khach_hang" type="tns:MaKhachHangType"/>
                    <xs:element name="mo_ta_yeu_cau" type="xs:string" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="DonHangNhanViens">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DonHangNhanVien" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ma_don_hang_nhan_vien" type="tns:MaDonHangNhanVienType"/>
                    <xs:element name="ma_don_hang"          type="tns:MaDonHangType"/>
                    <xs:element name="ma_nhan_vien"         type="tns:MaNhanVienType"/>
                    <xs:element name="vai_tro">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="Tư vấn"/>
                          <xs:enumeration value="Thu ngân"/>
                          <xs:enumeration value="Quản lý kho"/>
                          <xs:enumeration value="May đo"/>
                          <xs:enumeration value="Giao hàng"/>
                          <xs:enumeration value="Kiểm tra chất lượng"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="ghi_chu" type="xs:string" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="ChiTietDonHangs">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ChiTietDonHang" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ma_chi_tiet_don_hang" type="tns:MaChiTietDonHangType"/>
                    <xs:element name="so_luong"             type="xs:positiveInteger"/>
                    <xs:element name="gia_don_vi" type="tns:TienType" />
                    <xs:element name="ma_don_hang"          type="xs:string"/>
                    <xs:element name="ma_san_pham"          type="xs:string"/>
                    <xs:element name="loai_san_pham">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="áo"/>
                          <xs:enumeration value="quần"/>
                          <xs:enumeration value="váy"/>
                          <xs:enumeration value="đầm"/>
                          <xs:enumeration value="bộ"/>
                          <xs:enumeration value="áo Khóac"/>
                          <xs:enumeration value="đồ lót"/>
                          <xs:enumeration value="phụ kiện"/>
                          <xs:enumeration value="khác"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="trang_thai">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="pending"/>
                          <xs:enumeration value="processing"/>
                          <xs:enumeration value="done"/>
                          <xs:enumeration value="canceled"/>
                          <xs:enumeration value="returned"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="mo_ta" type="xs:string" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="SanPhams">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SanPham" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ma_san_pham"   type="tns:MaSanPhamType"/>
                    <xs:element name="ten_san_pham"  type="tns:TenType"/>
                    <xs:element name="mo_ta"         type="xs:string" minOccurs="0"/>
                    <xs:element name="kich_co"       type="xs:string" minOccurs="0"/>
                    <xs:element name="mau_sac"       type="xs:string" minOccurs="0"/>
                    <xs:element name="gia"           type="tns:TienType"/>
                    <xs:element name="so_luong_ton"  type="xs:nonNegativeInteger"/>
                    <xs:element name="tu_san_xuat"   type="xs:boolean"/>
                    <xs:element name="trang_thai">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="available"/>
                          <xs:enumeration value="out_of_stock"/>
                          <xs:enumeration value="discontinued"/>
                          <xs:enumeration value="draft"/>
                          <xs:enumeration value="coming_soon"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="ma_danh_muc"   type="tns:MaDanhMucType"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="TonKhos">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="TonKho" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ma_ton_kho"    type="tns:MaTonKhoType"/>
                    <xs:element name="so_luong_ton"  type="xs:nonNegativeInteger"/>
                    <xs:element name="ngay_cap_nhat" type="xs:date"/>
                    <xs:element name="ma_san_pham"   type="tns:MaSanPhamType"/>
                    <xs:element name="ma_nha_cung_cap" type="tns:MaNhaCungCapType"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="NhaCungCaps">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="NhaCungCap" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ma_nha_cung_cap"  type="tns:MaNhaCungCapType"/>
                    <xs:element name="ten_nha_cung_cap" type="tns:TenType"/>
                    <xs:element name="nguoi_lien_he"    type="xs:string" minOccurs="0"/>
                    <xs:element name="email"            type="tns:EmailType"/>
                    <xs:element name="dien_thoai"       type="tns:PhoneType"/>
                    <xs:element name="dia_chi"          type="tns:DiaChiType"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="DanhMucs">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="DanhMuc" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ma_danh_muc"  type="tns:MaDanhMucType"/>
                    <xs:element name="ten_danh_muc" type="tns:TenType"/>
                    <xs:element name="mo_ta"        type="xs:string" minOccurs="0"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="ThanhToans">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ThanhToan" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ma_thanh_toan"   type="tns:MaThanhToanType"/>
                    <xs:element name="ngay_thanh_toan" type="xs:date"/>
                    <xs:element name="so_tien"         type="tns:TienType"/>
                    <xs:element name="phuong_thuc">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="cash"/>
                          <xs:enumeration value="card"/>
                          <xs:enumeration value="none"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="ma_don_hang"     type="tns:MaDonHangType"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="NguyenLieus">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="NguyenLieu" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ma_nguyen_lieu" type="tns:MaNguyenLieuType"/>
                    <xs:element name="ten_nguyen_lieu" type="tns:TenType"/>
                    <xs:element name="loai" minOccurs="0">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:enumeration value="Vải"/>
                          <xs:enumeration value="Phụ kiện"/>
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
                    <xs:element name="so_luong_ton" type="tns:SoLuongType"/>
                    <xs:element name="don_vi" type="tns:DonViTinhType"/>
                    <xs:element name="gia"             type="tns:TienType"/>
                    <xs:element name="ma_nha_cung_cap" type="tns:MaNhaCungCapType"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="SanPhamNguyenLieus">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SanPhamNguyenLieu" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="ma_san_pham_nguyen_lieu" type="tns:MaSanPhamNguyenLieuType"/>
                    <xs:element name="ma_san_pham"            type="tns:MaSanPhamType"/>
                    <xs:element name="ma_nguyen_lieu"         type="tns:MaNguyenLieuType"/>
                    <xs:element name="so_luong"               type="tns:SoLuongType"/>
                    <xs:element name="don_vi"                 type="tns:DonViTinhType"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>

    <!-- ===================== KEYS ===================== -->
    <xs:key name="PK_KhachHang">
      <xs:selector xpath="tns:KhachHangs/tns:KhachHang"/>
      <xs:field    xpath="tns:ma_khach_hang"/>
    </xs:key>

    <xs:key name="PK_NhanVien">
      <xs:selector xpath="tns:NhanViens/tns:NhanVien"/>
      <xs:field    xpath="tns:ma_nhan_vien"/>
    </xs:key>

    <xs:key name="PK_DonHang">
      <xs:selector xpath="tns:DonHangs/tns:DonHang"/>
      <xs:field    xpath="tns:ma_don_hang"/>
    </xs:key>

    <xs:key name="PK_SanPham">
      <xs:selector xpath="tns:SanPhams/tns:SanPham"/>
      <xs:field    xpath="tns:ma_san_pham"/>
    </xs:key>

    <xs:key name="PK_NhaCungCap">
      <xs:selector xpath="tns:NhaCungCaps/tns:NhaCungCap"/>
      <xs:field    xpath="tns:ma_nha_cung_cap"/>
    </xs:key>

    <xs:key name="PK_DanhMuc">
      <xs:selector xpath="tns:DanhMucs/tns:DanhMuc"/>
      <xs:field    xpath="tns:ma_danh_muc"/>
    </xs:key>

    <xs:key name="PK_ThanhToan">
      <xs:selector xpath="tns:ThanhToans/tns:ThanhToan"/>
      <xs:field    xpath="tns:ma_thanh_toan"/>
    </xs:key>

    <xs:key name="PK_NguyenLieu">
      <xs:selector xpath="tns:NguyenLieus/tns:NguyenLieu"/>
      <xs:field    xpath="tns:ma_nguyen_lieu"/>
    </xs:key>

    <xs:key name="PK_TonKho">
      <xs:selector xpath="tns:TonKhos/tns:TonKho"/>
      <xs:field    xpath="tns:ma_ton_kho"/>
    </xs:key>

    <xs:key name="PK_DHNV">
      <xs:selector xpath="tns:DonHangNhanViens/tns:DonHangNhanVien"/>
      <xs:field    xpath="tns:ma_don_hang_nhan_vien"/>
    </xs:key>

    <xs:key name="PK_CT">
      <xs:selector xpath="tns:ChiTietDonHangs/tns:ChiTietDonHang"/>
      <xs:field    xpath="tns:ma_chi_tiet_don_hang"/>
    </xs:key>

    <xs:key name="PK_SPNL">
      <xs:selector xpath="tns:SanPhamNguyenLieus/tns:SanPhamNguyenLieu"/>
      <xs:field    xpath="tns:ma_san_pham_nguyen_lieu"/>
    </xs:key>

    <!-- ===================== KEYREFs ===================== -->
    <xs:keyref name="FK_DonHang_KhachHang" refer="tns:PK_KhachHang">
      <xs:selector xpath="tns:DonHangs/tns:DonHang"/>
      <xs:field    xpath="tns:ma_khach_hang"/>
    </xs:keyref>

    <xs:keyref name="FK_DHNV_DonHang" refer="tns:PK_DonHang">
      <xs:selector xpath="tns:DonHangNhanViens/tns:DonHangNhanVien"/>
      <xs:field    xpath="tns:ma_don_hang"/>
    </xs:keyref>

    <xs:keyref name="FK_DHNV_NhanVien" refer="tns:PK_NhanVien">
      <xs:selector xpath="tns:DonHangNhanViens/tns:DonHangNhanVien"/>
      <xs:field    xpath="tns:ma_nhan_vien"/>
    </xs:keyref>

    <xs:keyref name="FK_CT_DonHang" refer="tns:PK_DonHang">
      <xs:selector xpath="tns:ChiTietDonHangs/tns:ChiTietDonHang"/>
      <xs:field    xpath="tns:ma_don_hang"/>
    </xs:keyref>

    <xs:keyref name="FK_CT_SanPham" refer="tns:PK_SanPham">
      <xs:selector xpath="tns:ChiTietDonHangs/tns:ChiTietDonHang"/>
      <xs:field    xpath="tns:ma_san_pham"/>
    </xs:keyref>

    <xs:keyref name="FK_SanPham_DanhMuc" refer="tns:PK_DanhMuc">
      <xs:selector xpath="tns:SanPhams/tns:SanPham"/>
      <xs:field    xpath="tns:ma_danh_muc"/>
    </xs:keyref>

    <xs:keyref name="FK_TonKho_SanPham" refer="tns:PK_SanPham">
      <xs:selector xpath="tns:TonKhos/tns:TonKho"/>
      <xs:field    xpath="tns:ma_san_pham"/>
    </xs:keyref>

    <xs:keyref name="FK_TonKho_NhaCungCap" refer="tns:PK_NhaCungCap">
      <xs:selector xpath="tns:TonKhos/tns:TonKho"/>
      <xs:field    xpath="tns:ma_nha_cung_cap"/>
    </xs:keyref>

    <xs:keyref name="FK_ThanhToan_DonHang" refer="tns:PK_DonHang">
      <xs:selector xpath="tns:ThanhToans/tns:ThanhToan"/>
      <xs:field    xpath="tns:ma_don_hang"/>
    </xs:keyref>

    <xs:keyref name="FK_NguyenLieu_NhaCungCap" refer="tns:PK_NhaCungCap">
      <xs:selector xpath="tns:NguyenLieus/tns:NguyenLieu"/>
      <xs:field    xpath="tns:ma_nha_cung_cap"/>
    </xs:keyref>

    <xs:keyref name="FK_SPNL_SanPham" refer="tns:PK_SanPham">
      <xs:selector xpath="tns:SanPhamNguyenLieus/tns:SanPhamNguyenLieu"/>
      <xs:field    xpath="tns:ma_san_pham"/>
    </xs:keyref>

    <xs:keyref name="FK_SPNL_NguyenLieu" refer="tns:PK_NguyenLieu">
      <xs:selector xpath="tns:SanPhamNguyenLieus/tns:SanPhamNguyenLieu"/>
      <xs:field    xpath="tns:ma_nguyen_lieu"/>
    </xs:keyref>

  </xs:element>
</xs:schema>
